:root {
  --color-primary: #27ae60;
  --color-secundary: #eb5757;
  --color-gray-600: #333333;
  --color-gray-300: #828282;
  --color-gray-100: #e0e0e0;
  --color-gray-0: #f5f5f5;
  --background-primary: #BDBDBD;
  --alert--negative: #e60000;
  --alert--warning: #ffcd07;
  --alert--sucess: #168821;
  --alert--information: #155bcb;

}

body {
  font-family: "Inter", sans-serif;
}
