.cardlist {
    background-color: transparent;
    overflow: scroll;
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

        .cardModal {
            background-color: var(--color-gray-0);
            width: 30rem;
            height: 100vh;

            h2 {
                background-color: var(--color-gray-0);
            }
        }

    .cardTitle {
        display: flex;
        background: var(--color-primary);
        justify-content: space-between;
        padding: 16px;

        h2 {
            background: var(--color-primary);
            color: var(--color-gray-0);
        }

        button {
            background: var(--color-primary);
            border: none;
        }
    }

    .titleValue {
        display: flex;
        gap: 20px;
        border-top: 2px solid var(--color-gray-100);
        flex-direction: column;
        padding: 1rem;
        background-color: var(--color-gray-0);

        div {
            display: flex;
            justify-content: space-between;

        }
        button {
            border-radius: 8px;
            height: 2.5rem;
            color: var(--color-primary);
            background-color: var(--background-primary);
            border: 2px;
        }
    }

    .cardProduct {
        background-color: var(--color-gray-0);
    }
}

@media (min-width: 796px) {
    
}